.Table-wrapper{
    width: 480px;
    height: 480px;
    color: black;
}

.Score-board{
    position: absolute;
    top: 262px;
    right: 150px;
    width: 300px;
    height: 333px;
    border: 3px solid gray;
    color: black;
    font-size: 20px;
}